.basketNotify {
  position: fixed;
  bottom: 70px;
  left: 80px;

  width: 100px;
  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(145, 106, 103, 0.521);
  color: green;

  border: 3px solid green;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.basketNotify > span {
  font-size: 16px;
  font-weight: 600;
}
.basketNotify > a {
  color: green;
  width: 100%;
  padding-top: 5px;
}
.basketNotify:hover {
  transform: scale(1.1);
}

/* MEDIA QUERIES */

/* LAPTOP */

@media only screen and (max-width: 1400px) {
}

/* IPHONE X */

@media only screen and (max-width: 400px) {
  .basketNotify {
    width: 60px;
    height: 58px;

    bottom: 50px;
    left: 20px;
  }
}
