.basketItem {
  position: relative;
  width: 20%;
  min-height: 200px;
  margin: 20px 40px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 1px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: white;
}

.basketItem > img {
  object-fit: contain;
  max-width: 225px;
  min-height: 250px;

  border-radius: 5px;
}

.basketItem__info {
  width: 90%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 5px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  border-radius: 5px;
}

.basketItem__info__message {
  max-width: 100%;
  margin: 10px;

  text-align: center;
  overflow-wrap: break-word;
}

.basketItem__info > .basketItem__remove {
  margin-top: 15px;
}

.basketItem__info > .basketItem__remove > .MuiSvgIcon-root {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

/*  MEDIA QUERIES */

/* LAPTOP  */
@media only screen and (max-width: 1400px) {
  .basketItem {
    width: 50%;
    border: 1px solid white;
  }
}

/* IPHONE X  */

@media only screen and (max-width: 1200px) {
  .basketItem {
    width: 70%;
    min-height: 150px;
    max-width: 400px;
    margin: 5px 15px;

    border: 1px solid white;
  }

  .basketItem > img {
    object-fit: contain;
    max-width: 150px;
  }

  .basketItem__info {
    width: 100%;
    height: 60%;
    margin: 15px;
    font-size: 12px;
  }

  .basketItem__info > .basketItem__remove {
    margin-top: 15px;
  }

  .basketItem__info > .basketItem__remove > .MuiSvgIcon-root {
    font-size: 25px;
  }
}
