.content {
  text-align: center;
  height: 76vh;
  background-color: grey;
  overflow-y: scroll;
  scroll-snap-type: y;
}

.content::-webkit-scrollbar {
  display: none;
}

.content > :nth-child(1) {
  background-color: #b4b492;
  scroll-snap-align: start;
}
.content > :nth-child(2) {
  background-color: white;
  scroll-snap-align: start;
}
.content > :nth-child(3) {
  background-color: lightslategray;
  scroll-snap-align: start;
}

.content__section {
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
