.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLinks__link {
  margin: 20px 30px;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root {
  font-size: 28px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  color: #fff;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root:hover {
  opacity: 1;
  font-size: 30px;
}

.footerLinks > .footerLinks__link > a > span {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.footerLinks > .footerLinks__link > a {
  padding: 1px;
}

/* IPHONE X */

@media only screen and (max-width: 400px) {
  .footerLinks__link {
    margin: 0 20px;
  }

  .footerLinks > .footerLinks__link > a .MuiSvgIcon-root {
    font-size: 22px;

    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.75);
  }

  .footerLinks > .footerLinks__link > a {
    border-bottom: none;
    padding: 0;
  }
}
