.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLinks__link {
  margin: 0 30px;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root {
  font-size: 28px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  color: #065c3f;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root:hover {
  opacity: 1;
  font-size: 30px;
}

.footerLinks > .footerLinks__link > a > span {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.footerLinks > .footerLinks__link > a {
  border-bottom: solid 1px #065c3f;
  padding: 1px;
}
