.footer {
  height: 15%;
  width: 100%;
  text-align: center;
  background-color: #ffb6ca;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
