.footerLinks {
  position: fixed;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  height: 5%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateX(-50%);
}

.footerLinks__link {
  margin: 0 30px;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root {
  font-size: 27px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.footerLinks > .footerLinks__link > a .MuiSvgIcon-root:hover {
  opacity: 1;
  font-size: 30px;
}

.footerLinks > .footerLinks__link > a {
  border-bottom: solid 1px white;
  padding: 1px;
}
/*.footerLinks :nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
