.giftItem {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  margin: 15px 30px;
  background-color: white;
}

.giftItem__slider {
  max-width: 320px;
  margin: 10px;
}

.giftItem__slider > h2 {
  font-weight: 400;
}
.giftItem__slider > h3 {
  padding: 2px;
}

.giftItem__slider > p > span {
  color: red;
  font-weight: 500;
}
