.gifts {
  position: relative;
  scroll-snap-align: start;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffecd2, #ffb095);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.gifts > h1 {
  padding: 20px;
  font-weight: 400;
}

.gifts__container {
  margin: 20px auto;
  height: fit-content;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.gifts > .gifts__nav {
  margin-top: 80px;
  margin-bottom: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifts > .gifts__logo {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 0;
}

.gifts > .gifts__logo > img {
  object-fit: contain;
  width: 230px;
}

@media only screen and (max-width: 1024px) {
  .gifts {
    height: fit-content;
  }
}
