.giftItem {
  max-width: 470px;
  box-shadow: 1px 1px 25px -1px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin: 25px 40px;
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  display: flex;
  justify-content: center;
}

.giftItem__slider {
  max-width: 65%;
  margin: 10px;
}

.giftItem__text {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.giftItem__text > h2 {
  font-weight: 400;
}
.giftItem__text > h4 {
  padding: 2px;
}

.giftItem__text > p > span {
  color: red;
  font-weight: 500;
  text-decoration: underline;
}

.giftItem > .giftItem__text > .MuiButton-root {
  background-color: #f98d2a;
  font-size: 11px;
}

/* MEDIA QUERIES */

/* IPHONE X */

@media only screen and (max-width: 400px) {
  .giftItem {
    max-width: 340px;
    border-radius: 5px;
    margin: 25px 10px;
  }

  .giftItem__slider {
    max-width: 65%;
    margin: 5px;
  }

  .giftItem > .giftItem__text > .MuiButton-root {
    font-size: 10px;
    line-height: 10px;
    height: 25px;
    margin-bottom: 3px;
  }
}
