.homeLogo {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.homeLogo > .MuiSvgIcon-root {
  font-size: 30px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  color: #fff;
}

.homeLogo > .MuiSvgIcon-root:hover {
  opacity: 1;
  font-size: 32px;
}

.homeLogo > p {
  opacity: 0.7;
}

.homeLogo > img {
  width: 160px;
  margin-top: 30px;
}
