.info {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  scroll-snap-align: start;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 50% 20%;
  grid-template-areas:
    "top-row"
    "middle-row"
    "bottom-row";
}

.info > .info__top-row {
  width: 90%;
  margin: 0 auto;
  grid-area: top-row;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-content: center;
}

.info > .info__middle-row {
  width: 100%;
  grid-area: middle-row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffb6ca;
}

.info > .info__bottom-row {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  grid-area: bottom-row;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, #ffecd2, #ffb095);
}

.info__top__segment {
  max-width: 600px;
}

.info__top__segment > p {
  margin: 5px;
}

.info__middle__segment {
  max-width: 20%;
  min-width: 300px;
  height: 40%;
  background-color: white;
  margin: 5px;
}

.info__bottom__segment {
  margin: 15px;
  text-align: center;
}

.info__bottom__segment > .info__bottom__segment__logo {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 0;
}
.info__bottom__segment > .info__bottom__segment__logo > img {
  width: 230px;
}

.info__bottom__segment > .info__bottom__segment__nav {
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
}
