.prints {
  width: 100%;
  min-height: 100%;
  background-color: #ffb6ca;
  color: white;
  text-align: center;
  text-align: center;
  scroll-snap-align: start;
}

.prints__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.prints > h1 {
  font-weight: 400;
  padding: 20px;
}
